:root{
    --green-color: #00A031;
    --grey-color: #6C6C6C;

}

.services{
    width: 1206px;
    max-height: 2350px;
    margin: 0 auto;
    padding-top: 12px;
}
.h2_green{
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    font-style: normal;
    color: var(--green-color);
    letter-spacing: 2px;
    word-spacing: 2px;
}
.h4_green{
    font-size: 18px;
    color: var(--green-color);
    line-height: 28px;
    font-weight: 600;
}
.h3_green{
    color: var(--green-color);
    font-weight: 900;
    font-size: 38px;
    line-height: 51px;
    font-style: normal;
    letter-spacing: 1.4px;
}
.h4_grey{
    color: var(--grey-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
#circle_quater_top{
    width: 662px;
    height: 607px;
    position: absolute;
    border-top-right-radius:  662px 607px ;
    border-top: 1px solid #29A0EC;
    border-right: 1px solid #29A0EC;
    /* border: 1px solid #29A0EC; */
    top: 72%;
    left: 80%;
    z-index: 1;
}
#circle_quater_bottom{
    width: 662px;
    height: 607px;
    position: absolute;
    border-bottom-right-radius:  662px 607px ;
    border-bottom: 1px solid #29A0EC;
    border-right: 1px solid #29A0EC;
    /* border: 1px solid #29A0EC; */
    top: 51%;
    right: 45.7%;
    z-index: 1;
}
.instruction{
    display: flex;
    box-sizing: border-box;
    background-color: white;
    /* padding: 7% 1%; */
}
.instruction:nth-child(2){
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.instruction__image{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
}
.cirsle_point{
    width: 522px;
    height: 522px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 6px dashed #C8E6D1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}
.circle_grey{
    width: 410px;
    height: 410px;
    background-color: #ecf3eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.circle_lightgrey{
    width: 270px;
    height: 270px;
    background-color: #f9f9f9;
    border-radius: 50%;
    
}
.instruction__image_phone{
    position: absolute;
    top: 59%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.instruction:nth-child(2) .instruction__image_phone{
    top: 59%;
    left: 47%;
    transform: translate(-50%, -50%);
}
.instruction:nth-child(3) .instruction__image_phone{
    top: 60%;
    left: 51%;
}



.instruction__text:nth-child(2){
    justify-content: flex-end;
    align-items: flex-start;
}
.instruction__text__checkmark{
    display: flex;
    align-items: center;
}
.instruction__text_circleOfCkeckpoint{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1.5px solid #29A0EC;
    color: #29A0EC;
    position: relative;
}
.instruction__text_ckeckpoint{
    position: absolute; 
    color: #29A0EC;
    top: -15px;
    left: -1px;
    font-size: 24px;
}
.button__service{
    width: 208px;
    height: 54px;
    margin-top: 32px;
    padding-left: 2%;
    box-sizing: border-box;
    border: 2px solid var(--green-color);
    border-radius: 28px;
    background-color: transparent;
    font-size: 18px;
    line-height: 21.47px;
    text-align: center;
    color: var(--green-color);
    font-family: 'Gilroy';
}

@media screen and (max-width: 1600px){
    .h3_green{
        font-weight: 700;
        font-size: 28px;
        line-height: 51px;
        font-style: normal;
        letter-spacing: 1.5px;
    }
    .services{
        width: 70%;
        
    }
    .instruction__text br{
        display: none;
    }
    .cirsle_point{
        width: 422px;
        height: 422px;
        border: 4px dashed #C8E6D1;
        
    }
    .circle_grey{
        width: 360px;
        height: 360px;
    }
    .circle_lightgrey{
        width: 270px;
        height: 270px;
        
    }
    .instruction__image_phone{
        width: 350px;
        height: 500px;
        top: 57%;
    }
    .instruction:nth-child(2) .instruction__image_phone{
        width: 500px;
        height: 600px;
        /* top: 57%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }
    .instruction:nth-child(2) .padding_left_4per{
        padding-left: 0;

    }
    .h2_green{
        font-size: 42px;
        font-weight: 600;
        letter-spacing: 1px;
        word-spacing: 1.5px;
    }
}

@media screen and (max-width: 1200px){
    .h3_green{
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        font-style: normal;
        letter-spacing: 1px;
    }
    .services{
        width: 70%;
        
    }
    .instruction__text br{
        display: none;
    }
    .cirsle_point{
        width: 310px;
        height: 310px;
        border: 2px dashed #C8E6D1;
        
    }
    .circle_grey{
        width: 280px;
        height: 280px;
    }
    .circle_lightgrey{
        width: 220px;
        height: 220px;
        
    }
    .instruction__image_phone{
        width: 250px;
        height: 350px;
        top: 57%;
    }
    .instruction:nth-child(2) .instruction__image_phone{
        width: 350px;
        height: 420px;
    }
    .instruction:nth-child(2) .padding_left_4per{
        padding-left: 0;

    }
    .h2_green{
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
    .h4_grey{
        font-size: 14px;
        line-height: 14px;
    }
    .button__service{
        width: 178px;
        height: 40px;
        border-radius: 20px;
        font-size: 14px;
    }
    .instruction__text_circleOfCkeckpoint{
        width: 9px;
        height: 9px;
    }
    .instruction__text_ckeckpoint{
        position: absolute; 
        top: -10px;
        left: -1px;
        font-size: 16px;
    }
}
@media screen and (max-width: 968px){
    .instruction {
        display: block;
    }
    .instruction__image{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .instruction__text{
        margin: 0 auto;
    }
    
}
@media screen and (max-width: 480px){
    .cirsle_point{
        width: 220px;
        height: 220px;
        border: 2px dashed #C8E6D1;
        
    }
    .circle_grey{
        width: 180px;
        height: 180px;
    }
    .circle_lightgrey{
        width: 140px;
        height: 140px;
        
    }
    .instruction__image_phone{
        width: 180px;
        height: 250px;
        top: 57%;
    }
    .instruction:nth-child(2) .instruction__image_phone{
        width: 240px;
        height: 290px;
    }
}