html, body{
    height: 100%;
}
*{
    margin: 0%;
    padding: 0;
}
.slideshow__image {
    display: none;
    height: 100%;
    width: 100%;
    z-index: -1;   
    top: 0;
}
.slideshow iframe{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
.slideshow{
    position: relative;
    width: 100%;
}
.slideshow__wrap{
    max-width: 1543px;
    margin: 0 auto;
    box-sizing: border-box;
}
.slideshow__content{
    width: 95%;
    position: absolute;
    z-index: 10;
    top: 31.2%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}




.dots{
    position: absolute;
    left: 47.8%;
    z-index: 10;
    bottom: 10%;
    transform: rotateX(-50%);
    text-align: center;
    /* padding-left: 4px; */
}
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 6px;
   
    border-radius: 50%;
    display: inline-block;
    transition: white 0.6s ease;

}
.dot_white{
    background-color: white;
}
.dot_green{
    background-color: #00A031;
}
.cirgle_green{
    height: 13px;
    width: 13px;
    border: 1px solid  #00A031;
    border-radius: 50%;
}
.slideshow__button{
    padding-top: 55px;
    box-sizing: border-box;
}
.button{
    width: 172px;
    height: 54px;
    border-radius: 27px;
    border-style: none;
    background-color: #00A031;
    color: white;
    font-size: 18px;
    text-align: center;
}
.prev{
    position: absolute;
    z-index: 10;
    top: 42.5%;
    left: 120px;
    opacity: 0.6;
    font-size: 50px;
    cursor: pointer;
}
.next{
    position: absolute;
    z-index: 10;
    top: 42.5%;
    right: 135px;
    opacity: 0.6;
    font-size: 50px;
    cursor: pointer;
}



@media screen and (max-width: 1600px){
    .button{
        width: 152px;
        height: 44px;
        border-radius: 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px){
    .button{
        width: 122px;
        height: 35px;
        border-radius: 15px;
        font-size: 14px;
    }
    .dots{
        left: 45%;
    }
    .dot {
        height: 10px;
        width: 10px;
    }
}
@media screen and (max-width: 968px){
    .slideshow__content{
        width: 70%;
    }
    .prev{
        top: 30.5%;
        left: -5%;
        opacity: 0.6;
        font-size: 30px;
    }
    .next{
        top: 30.5%;
        right: -5%;
        font-size: 30px;
    }
    .slideshow__button{
        padding-top: 20px;
    }
} 
@media screen and (max-width: 620px){
    .button{
        width: 102px;
        height: 25px;
        border-radius: 12px;
        font-size: 12px;
    }
    .dots{
        left: 45%;
    }
    .dot {
        height: 5px;
        width: 5px;
    }
}
@media screen and (max-width: 480px){
    .button{
        width: 92px;
        height: 20px;
        border-radius: 10px;
        font-size: 10px;
    }
    .dots{
        position: absolute;
        left: 40%;
        bottom: 2%;
        /* transform: rotateX(-50%); */
        text-align: center;
        padding-left: 4px;
    }
    .dot {
        height: 4px;
        width: 4px;
    }
    .prev{
        top: 30.5%;
        font-size: 20px;
    }
    .next{
        top: 30.5%;
        font-size: 20px;
    }
    .slideshow__button{
        padding-top: 10px;
    }
}