
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.scroll{
    background-color: #00A031;
    opacity: 0.7;

}
.header__wrap {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    box-sizing: border-box;
    padding-top: 27px;
}
.logo {
    width: 50%;
}

.cross{
    display: none;
    width: 30px;
    height: 35px;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
    color: white;
}
.burger__menu {
    display: none;
    height: 30px;
}
.burger__line{
    width: 40px;
    height: 5px;
    background-color: white;
}
.navbar {
    width: 37.5%;
}
.navabr__ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.navbar__link{
    text-decoration: none;
    color: white;
}
.navbar__link:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}
@media screen and (max-width: 1600px){
    .header__wrap{
        max-width: 70%;
    }
    .logo {
        width: 40%;
    }
}

@media screen and (max-width: 1024px){
    .header{
        height: 150px;
    }
    .burger__menu{
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
    }
    .navbar{
        width: 100px;
        display: none;
        position: absolute;
        top: 40px;
        left: 15%;
        
    }
    .navabr__ul{
        display: block;
    }
}

@media screen and (max-width: 768px){
    .logo__icon__img {
        width: 25px;
        height: 23px;
    }
    .logo__img{
        width: 90px;
        height: 23px;
    }
    .cross{
        width: 23px;
        height: 23px;
        font-size: 23px;
        line-height: 23px;
    }
    .burger__menu {
        height: 23px;
    }
    .burger__line{
        width: 23px;
        height: 3px;
        background-color: white;
    }
}
@media screen and (max-width: 480px){
    .logo__icon__img {
        width: 15px;
        height: 15px;
    }
    .logo__img{
        width: 65px;
        height: 15px;
    }
    .cross{
        width: 20px;
        height: 15px;
        font-size: 15px;
        line-height: 15px;
    }
    .burger__menu {
        height: 15px;
    }
    .burger__line{
        width: 20px;
        height: 2px;
        background-color: white;
    }
}