.team_wrap{
    display: flex;
    max-width: 1165px;
    max-height: 790px;
    margin: 0 auto;
    /* margin-bottom: 207px; */
}
.team__member_info{
    width: 55.5%;
    position: relative;
}
/* .team__member{
    position: relative;
    max-height: 534px;
} */
.position1{
    z-index: 10;
    position: relative;
    width: 400px;
    height: 535px;
}

.position2{
    position: absolute;
    left: 38%;
    top: 5%;  
    z-index: 5;  
}
.position3{
    position: absolute;
    left: 60%;
    top: 10%;
    z-index: 2;
}
.networks li a{
    text-decoration: none;
    padding-right: 30px;
}

.team__member__slidebar{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #FBFBFB;
    height: 24%;
    position: absolute;
    bottom: 10px;
}
.team__member__slidebar__photo{
    width: 91px;
    height: 130px;
}
.team__member__slidebar__name{
    display: flex;
    justify-content: space-between;
}
.team__member__slidebar__button{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    color: #00A031;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Gilroy';
}
.networks{
    display: flex;
    /* display: inline-block; */
}
@media screen and (max-width: 1600px){
    .team_wrap{
        width: 70%;
    }
    .team__member_info br{
        display: none;
    }
}
@media screen and (max-width: 1200px){
    .team__member__photo:first-child{
     width: 350px;
     height: 500px;
    }
    .position2{
        left: 18%;
        top: 3%;   
    }
    .position3{
        position: absolute;
        left: 38%;
        top: 10%;
        z-index: 2;
    }
    
}
/* @media screen and (max-width: 968px){
    .team__member__photo:first-child{
     width: 250px;
     height: 400px;
    }
    .position2{
        left: 18%;
        top: 3%;   
    }
    .position3{
        position: absolute;
        left: 38%;
        top: 10%;
        z-index: 2;
    }
    
} */
@media screen and (max-width: 968px){
     .position2, .position3{
        display: none;
    }
    
    .team__member_info{
        width: 100%;
    }
    .team_wrap{
        height: 370px;
    }
    .team__member{
        /* width: 100%; */
    }
    .position1{
        position: absolute;
        right: 0%;
        top: 0;
       
    }
    .team__member__photo:first-child{
        width: 61px;
        height: 80px;
       }
    .team__member__slidebar__name .h4_green{
        font-size: 12px;
        line-height: 12px;
    }
    .team__member__slidebar__button{
        font-size: 12px;
    }
    .team__member__slidebar__photo{
        width: 70px;
        height: 90px;
    }
}
@media screen and (max-width: 480px){
    /* .networks {
        display: flex;
        justify-content: space-between;
    } */
    .team__member__slidebar__photo{
        width: 50px;
        height: 70px;
    }
    .team__member__slidebar__name .h4_green{
        font-size: 10px;
        line-height: 10px;
    }
    .team_wrap{
        height: 400px;
    }
    .networks a {
        font-size: 12px;
    }
}
